@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Emilio-Market S.L</title>
    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/landing-page.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
     <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Emilio Barrera Sepúlveda.!!</h1>
                        <h3>Alimentando La Mente.!</h3>
                        <hr class="intro-divider">

                        <div class="row">
                            <div class="col-md-4 text-left">
                                <h2>Presentación Emilio Market S.L</h2>
                                <p>
                                    Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas versiones han evolucionado a través de los años, algunas veces por accidente, otras veces.

                                </p>
                                <p><a class="btn btn-info" href="https://www.youtube.com/channel/UClHVioCA72FmdlJXxMBzWyg" target="_blank">Leer Más &raquo;</a></p>
                            </div>
                            <div class="col-md-4 text-left">
                                <h2>Aprender ASP.NET MVC</h2>
                                <p>
                                    Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas versiones han evolucionado a través de los años, algunas veces por accidente, otras veces a propósito (por ejemplo insertándole humor y cosas por el estilo).
                                </p>
                                <p><a class="btn btn-info" href="~/Diapositivas/documents.tips_mvc-diapositivas.ppt" target="_blank">Ver Diaposotivas.&raquo;</a></p>
                            </div>
                            <div class="col-md-4 text-left">
                                <h2>Vídeos del Curso.</h2>
                                <p>
                                    Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño. El punto de usar Lorem Ipsum es que tiene una distribución más o menos normal de las letras, al contrario de usar textos como por ejemplo "Contenido aquí, contenido aquí". Estos textos hacen parecerlo un español que se puede leer. Muchos paquetes de autoedición y editores de páginas web usan el Lorem Ipsum como su texto por defecto, y al hacer una búsqueda de "Lorem Ipsum" va a dar por resultado muchos sitios web que usan este texto si se encuentran en estado de desarrollo. Muchas versiones han evolucionado a través de los años, algunas veces por accidente, otras veces otras veces a propósito (por ejemplo insertándole humor y cosas por el estilo).
                                </p>
                                <p><a class="btn btn-info" href="https://www.youtube.com/playlist?list=PLuEZQoW9bRnQAVxaDusY0fjRb2u7wgpzI" target="_blank">Ir a los Vídeos del Curso &raquo;</a></p>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
        <!-- /.intro-header -->
        
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4>
                    <strong>Emilio-Market S.L</strong>
                </h4>
                <p>Madrid - España.</p>
                <ul class="list-unstyled">
                    <li>
                        <i class="fa fa-phone fa-fw"></i>+034693661995
                    </li>
                    <li>
                        <i class="fa fa-envelope-o fa-fw"></i><a href="mailto:barrera_emilio@hotmail.com">barrera_emilio@hotmail.com</a>
                    </li>
                </ul>
                <ul class="list-inline intro-social-buttons">
                    <li>
                        <a href="https://twitter.com/SBootstrap" class="btn btn-info btn-lg " target="_blank"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/emilio.barrera.10" class="btn btn-primary btn-lg " target="_blank"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/104332573154279342301" class="btn btn-danger btn-lg" target="_blank"><i class="fa fa-google fa-fw"></i> <span class="network-name">Google</span></a>
                    </li>
                </ul>
                <hr  class="small"/>
                <p class="text-muted">Copyright $copy; Emilio Barrera Sepúlveda.</p>
            </div>
        </div>
    </div>
    </body>

</html>
    @*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

    
